@tailwind base;
@tailwind components;
@tailwind utilities;

.imagemBandeira{
    width: 100%;
    height: 200px;
    object-fit: cover;
}

.tamanhoDiv{
    width: 300px;
    height: 400px;
}

body{
    background-color: #334155;
}
